version: '3.8'

services:
  app-evently:
    image: usmpandescloud/app-evently:1.0.0
    container_name: app-evently
    restart: unless-stopped
    ports:
      - "${HTTP_APP_PORT}:${HTTP_APP_PORT}"
    environment:
      # Node.js Configuration
      NODE_ENV: ${HTTP_NODE_ENV}
      NODE_DEBUG: ${HTTP_NODE_DEBUG}
      APP_PORT: ${HTTP_APP_PORT}
      GLOBAL_PREFIX: ${HTTP_GLOBAL_PREFIX}
      
      # MySQL Database Configuration (RDS)
      DB_HOST: ${RDS_ENDPOINT}
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_POOL: ${HTTP_DB_POOL}
      DB_NAME: ${DB_NAME}
      DB_LOGGING: ${HTTP_DB_LOGGING}
      DB_SYNCHRONIZE: ${HTTP_DB_SYNCHRONIZE}
      
      # JWT Configuration
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_ACCESS_TTL: ${JWT_ACCESS_TTL}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_REFRESH_TTL: ${JWT_REFRESH_TTL}
      
      # Redis Configuration (ElastiCache)
      REDIS_HOST: ${REDIS_ENDPOINT}
      REDIS_PORT: 6379
      REDIS_DB: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      
      # Swagger Documentation
      SWAGGER_TITLE: ${SWAGGER_TITLE}
      SWAGGER_DESC: ${SWAGGER_DESC}
      SWAGGER_VERSION: ${SWAGGER_VERSION}