**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# artefactos generados localmente al empaquetar los placeholders de Lambda / Cloud Functions
modules/**/dist/
