files:
  "/tmp/install_pnpm.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      # Install pnpm
      curl -fsSL https://get.pnpm.io/install.sh | sh -
      source ~/.bashrc
      
      # Install dependencies using pnpm
      cd /var/app/current
      pnpm install --prod
      
      # Build the application
      pnpm run build

container_commands:
  01_install_pnpm:
    command: "bash /tmp/install_pnpm.sh"
  02_change_node_command:
    command: |
      sed -i 's/"node run.js"/"pnpm start:prod"/g' /var/app/current/package.json